.cardContainer {
  width: 100%;
  border-radius: 16px 16px 0 0 ;
  box-shadow: -2px 3px 4px rgba(0, 0, 0, 0.3);
}

/* --------------- CARD HEADER --------------- */
.cardHeader, .cardForm, .cardFormHeader {
  border-radius: 16px 16px 0 0 ;
}

.cardHeader {
  width: 100%;
  display: grid;
  grid-template-columns: 3;
}


.cardHeader .cardHeaderContainer {
  margin: 0 2% 0 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--E5D9D9);
}

.cardHeader .cardHeaderContainer div {
  display: flex;
  align-items: center;
}

.cardHeader .cardHeaderContainer div p {
  text-transform: uppercase;
  letter-spacing: 1%;
  margin-right: 10%;
  font-weight: 700;
}

.cardHeaderScheduled {
  font-size: 1.1rem;
  font-weight: 600;
  grid-column: 1;
}

.cardHeaderCategory {
  grid-column: 3;
  padding: 1% 2%;
  font-size: 1.1rem;
  font-weight: 700;
  border: 2px solid var(--E5D9D9);
  border-radius: 8px;
  white-space: nowrap;
}

.activityThrobber {
  width: 1.5rem;
  filter: invert(92%) sepia(6%) saturate(220%) hue-rotate(305deg) brightness(110%) contrast(95%);
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* --------------- CARD MAIN --------------- */
.cardMain {
  background-color: var(--notepad-bg);
}

.cardMainTitle {
  width: 92%;
  margin: auto;
  padding: 3% 0 3% 0;
  font-size: 1.3rem;
  font-weight: 500;
  border-bottom: 2px solid;
}

/* --------------- CARD FOOTER --------------- */
.cardFooter {
  width: 92%;
  margin: auto;
  padding: 1% 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardFooterDuration {
  font-size: 0.9rem;
}

.cardFooterDuration span {
 font-weight: 700;
}

/* --------------- CARD FOOTER: UTILITY BUTTONS --------------- */
.utility-buttons {
  display: flex;
  gap: 8px;
}

.utility-buttons button {
  all: unset;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.utility-buttons button:hover {
  transform: scale(1.1);
}

.utility-buttons button img{
  height: 24px;
  width: 24px;
  filter: var(--filter-svg);
}

/* --------------- DELETE CONFIRM --------------- */
.confirmContainer {
  display: flex; 
  align-items: center; 
  gap: 8px 
}

.confirmText {
  font-size: 0.9rem;
  font-weight: 700;
}

.confirmButton {
    padding: 4px 12px;
    color: var(--E5D9D9);
    font-size: 0.8rem;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.confirmButton:hover {
  transform: scale(1.02);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.confirmYes {
    background: var(--confirm);
}

.confirmNo {
    background-color: var(--reject);
}

/* --------------- CARD EDIT FORM --------------- */
.cardForm {
  background-color: var(--notepad-bg);
}

.cardFormHeader {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 1.7%;

}

.cardFormHeaderTime {
  display: flex;
  gap: 10px;
}

.cardFormHeaderTime input[type=time] {
  border: 2px solid var(--E5D9D9);
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text);
  background-color: var(--bg);
}

.cardFormHeader .category {
  padding: 1% 2%;
  font-size: 1.1rem;
  font-weight: 700;
  border: 2px solid var(--E5D9D9);
  border-radius: 8px;
  color: var(--text);
  background-color: var(--bg);
}

.cardForm input[type=text] {
  width: 92%;
  margin: 1% auto;
  border: none;
  border-radius: 4px 4px 0 0;
  padding: 1.5% 0 2% 0;
  font-size: 1.3rem;
  font-weight: 500;
  border-bottom: 2px solid;
  background-color: var(--bg);
  color: var(--text);
}

/* --------------- EDIT CONFIRM BUTTONS --------------- */
.edit-confirm {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 2%;
}

.edit-confirm button {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--E5D9D9);
  border: none;
  border-radius: 10px;
  padding: 4px 12px;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.3s ease, letter-spacing 0.3s ease;
}

.edit-confirm button:hover {
  transform: scale(1.01);
  letter-spacing: 0.3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.editSubmit {
  background-color: #358C4E;
}

.editCancel {
  background-color: #EF2917;
  margin-right: 4%;
}