.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  gap: 1em;
  background-color: var(--notepad-bg);
  position: relative;
}

.addActivityBtn {
  all: unset;
  background-color: #358C4E;
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  transition: transform 0.2s ease;
  position: absolute;
  top: 0;
  right: 0;
}

.addActivityBtn img {
  width: 80%;
  filter: brightness(0) invert(1);
}

.addActivityBtn:hover {
  transform: scale(1.1);
  cursor: pointer;
}


/* --------------------------------------------- */
/* --------------- MOBILE LAYOUT --------------- */
/* --------------------------------------------- */
@media (max-width: 768px) {

  .container {
    padding-bottom: 45px;
  }
  
  .addActivityBtn {
    top: auto;
    bottom: 0;
    right: 5px;
    z-index: 1;
  }
}