.container {
  border: 5px solid #E8C5C5;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 12px;
}

.list {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
