.language-toggle-btn {
    background: var(--btn-bg);
    color: var(--btn-text);
    border-radius: 20px;
    padding: 4px 8px 4px 8px;
    height: 29px;
    border: none;
    cursor: pointer;
    margin-top: 4px;
    transition: transform 0.3s ease;
}

.language-toggle-btn:hover {
    background: var(--btn-hover);
    transform: translateY(-1px);
}
