.settingsButton {
    background: var(--btn-bg);
    color: var(--btn-text);
    border-radius: 20px;
    height: 29px;
    border: none;
    cursor: pointer;
    margin-top: 4px;
    transition: transform 0.3s ease;
    padding: 4px 8px 4px 8px;
    display: flex;
    align-items: center;
}

.settingsButton:hover {
    background: var(--btn-hover);
    transform: translateY(-1px);
}

.settingsButton img {
    height: 24px;
    width: 24px;
}
