.container {
    height: 50%;
    text-align: center;
    border: 5px solid #C5D9E8;
    border-radius: 1em;
}

.explanation {
    font-weight: bold;
    font-size: small;
}

.submitted {
    font-weight: bold;
    font-size: small;
    color: green;
}
