.container {
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    gap: 1em;
}

.siteHeader {
    border-bottom: 1px solid var(--navlink-bg-reversed);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    z-index: 100;
    padding: 0.5em 0.5em 0 0.5em;
}

.siteHeader > *:first-child {
    justify-self: start;
}

.siteHeader > *:last-child {
    justify-self: end;
}

.buttonGroup {
    height: 100%;
    display: flex;
    align-items: flex-end;
    gap: 1em;
    padding-bottom: 1%;
}

.navigation {
    height: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.appMain {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-self: center;
    align-self: center;
    width: 100%;
}

.navLink {
    position: relative;
    padding: 0.7rem 3rem;
    text-decoration: none;
    background-color: var(--navlink-bg);

    border: 1px solid var(--navlink-bg-reversed);
    border-bottom: none;
    border-radius: 1.7rem 1.7rem 0 0;

    margin-left: -0.5rem;
    
    font-size: 20px;
    color: var(--text);
    
    transition: background-color 0.2s ease,
                transform 0.2s ease;

    z-index: 1;          
}

.navLink span {
    color: var(--text);
}

.navLink:nth-child(2) {
    z-index: 2;
}

.navLink:hover {
    background-color: var(--bg);
}

.active {
    position: relative;
    padding: 0.7rem 3rem;
    text-decoration: none;
    background-color: var(--bg);

    border: 1px solid var(--navlink-bg-reversed);
    border-bottom: none;
    border-radius: 1.7rem 1.7rem 0 0;

    font-size: 22px;
    font-weight: 600;
    color: var(--text);

    margin-left: -0.5rem;

    z-index: 5;
    margin-bottom: -1px;
}
