:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-synthesis: none;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --bg: #E5D9D9;
    --navlink-bg: #D6CBCB;
    --navlink-bg-reversed: grey;

    --text: #3f3f46;
    --btn-bg: #d6d3d1;
    --btn-text: #27272a;
    --btn-hover: #c7c4c1;
    --modal-bg: #e8e5e3;
    --filter-svg: brightness(0) invert(0);

    /* CARD COLORS */
    --notepad-bg: #f5f5f4;
    --E5D9D9: #f5f5f4;
    --confirm: #358C4E;
    --reject: #EF2917;


    /* CATEGORY COLORS (MUI CHARTS COLORS + Ingrids choice) */
    --purple-meeting: #9C26B0;
    --pink-admin: #F583B4;
    --orange-creative: #F37613;
    --dark-blue-tech: #4254FB;
    --light-green-analytical: #44BF75;
    --gold-communication: #F7B422;
    --light-blue-planning: #F25058;
    --fuschsia-learning: #4BBEFF;
    --red-pink-sales: #F10057;
    --dark-green-support: #358C4E;
    --yellow-operations: #C6C013;
    --red-other: #EF2917;
    --grey-nonWork: grey;

    /* HEADER BUTTONS STYLING */
    .header-btn {
        border: none;
        background: none;
        cursor: pointer;
        transition: transform 0.3s ease;
        padding: 0;
    }

    .header-btn img {
        height: 24px;
        width: 24px;
        filter: var(--filter-svg);
    }

    .header-btn:hover {
        transform: translateY(-1px);
    }
}



[data-theme="dark"] {
    --bg: #231f28;
    --notepad-bg: #302b38;

    --navlink-bg: #433c4e;
    --navlink-bg-reversed: #FAF8EA;

    --text: #E5D9D9;

    --btn-bg: #3a3a3c;
    --btn-text: #e4e4e7;
    --btn-hover: #48484a;
    --modal-bg: #2c2c2e;
    --filter-svg: invert(92%) sepia(6%) saturate(220%) hue-rotate(305deg) brightness(95%) contrast(92%);

}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
    padding: 0;
}
